allow-lan: true
log-level: silent
tcp-concurrent: true
dns:
  enable: true
  prefer-h3: false
  ipv6: false
  listen: 127.0.0.1:53
  default-nameserver:
   - 119.29.29.29
   - 223.5.5.5
   nameserver:
   - https://doh.pub/dns-query
   - https://dns.alidns.com/dns-query

  fallback:
   - https://1.1.1.1/dns-query
   - https://dns.google/dns-query
  fallback-filter:
    geoip: true
    geoip-code: CN
    ipcidr:
      - 240.0.0.0/4
