name: keep alive
on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  keep alive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          echo "$(date -u)" > .github/keep-alive.md
          git add .github/keep-alive.md
          git commit -m "chore: keep alive $(date -u +'%Y-%m-%d')" || echo "No changes to commit"
          git push
