name: Hourly Cache Purge
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  purge:
    runs-on: ubuntu-latest
    steps:
      - run: |
          TARGET_URLS=(
            "https://purge.jsdelivr.net/gh/peasoft/NoMoreWalls@master/snippets/nodes.meta.yml"
            "https://purge.jsdelivr.net/gh/zhangkaiitugithub/passcro@main/meta.yaml"
            "https://purge.jsdelivr.net/gh/ripaojiedian/freenode@main/clash"
            "https://purge.jsdelivr.net/gh/shaoyouvip/free@main/all.yaml"
            "https://purge.jsdelivr.net/gh/snakem982/proxypool@main/source/clash-meta.yaml"
            "https://purge.jsdelivr.net/gh/snakem982/proxypool@main/source/clash-meta-2.yaml"
            "https://purge.jsdelivr.net/gh/anaer/Sub@main/proxies.yaml"
          )

          for url in "${TARGET_URLS[@]}"; do
            echo "正在刷新: $url"
            curl -X GET "$url"
            echo -e "\n--------------------------"
          done
